@import url('https://fonts.googleapis.com/css2?family=Luxurious+Script&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Style+Script&display=swap');

*{margin: 0; padding: 0;}

.inicio{
	display: none;
}

body{
	background-color: black;
}

header, #img-banner{
	background-color: #0191A4;
	width: 100%;
}

h1{
	text-align: center;
	color: black;
	font-family: cursive;
	font-size: 3em;
	margin-bottom: 20px;
	font-family: 'Indie Flower', cursive;
	color: #f1af09;
	font-weight: bold;
}

p{
	text-align: justify;
}

ul{
	display: flex;
	align-items: center;
	justify-content: center;
	height: 100%;
}

li{
	color: black;
	font: 1.2em cursive;
	margin-right: 30px;
	list-style-type: none;
	font-family: 'Times New Roman', cursive;
	color: #f1af09;
}

}

table{
	display: flex;
}

td{
	padding: 0px;
	padding-top: 0;
	padding-bottom: 0;
	margin-right: 10px;
	align-items: center;
	justify-content: center;
}

.container{
	display: flex;
	justify-content: space-between;
}

.cardeon{
	background-color: #FFF;
	width: 100%;
	margin-right: 10px;
	margin-left: 10x;
	border-radius: 10px;
	box-shadow: 10px 10px 10px 10px #f1af09;
	transition: 1s;
}

.card{
	background-color: #FFF;
	width: 24%;
	margin-right: 10px;
	margin-left: 10px;
	border-radius: 20px;
	box-shadow: 10px 10px #f1af09;
	transition: 1s;
}

.carde{
	background-color: #FFF;
	width: 50%;
	margin-right: 10px;
	border-radius: 10px;
	box-shadow: 10px 10px #f1af09;
	transition: 1s;
}

.cardeo{
	background-color: #FFF;
	width: 100%;
	margin-right: 10px;
	margin-left: 10px;
	border-radius: 10px;
	box-shadow: 10px 10px 10px 10px #f1af09;
	transition: 1s;
}

.card-fin{
	background-color: #FFF;
	width: 100%;
	margin-right: 10px;
	margin-left: 10px;
	border-radius: 10px;
	box-shadow: 10px 10px 10px 10px #f1af09;
	transition: 1s;
}

.mei{
	display: flex;
	justify-content: center;
}

.card-finn{
	background-color: #FFF;
	width: 100%;
	border-radius: 20px;
	box-shadow: 10px 10px #f1af09;
	transition: 1s;
}

.img-card{
	width: 100%;
	border-radius: 10px 10px 0 0;
}

.text-card, p{
	font-size: 1em;
	text-align: center;
	word-wrap: break-word;
	color: black;
}

.imagem-circular{
	display: inline-block;
	position: relative;
	object-fit: cover;
	border-radius: 50%;
	width: 300px;
	height: 300px;
	left: 10px;
	top: 3px;
	overflow: hidden;
}

.imagem-circular2{
	display: inline-block;
	position: relative;
	object-fit: cover;
	border-radius: 50%;
	width: 300px;
	height: 300px;
	top: 5px;
	overflow: hidden;

}

.p-fin{
	margin-top: -3px;
}

.imagem-centro{
	text-align: center;
}

h2{
	font-size: 2em;
	text-align: center;
}

h3{
	font-size: 2em;
	text-align: center;
	font-family: 'Style Script', cursive;
	color: #f1af09;
	font-weight: bold;
}

h6{
	font-size: 4em;
	text-align: center;
	font-family: 'Luxurious Script', cursive;
	color: #f1af09;
	font-weight: bold;
}

h4{
	font-size: 4em;
	text-align: center;
	margin-bottom: 20px;
	font-family: 'Luxurious Script', cursive;
	color: #f1af09;
}

h5{
	font-size: 2em;
	text-align: center;
	color: #30503a;
}

.titulo3{
	margin: 0 auto;
	padding: 50px;
	padding-top: 30px;
	padding-bottom: 70px;
}

.imagem-quadrada{
	width: 350px;
	height: 350px;
	float: left;
	margin-top: 20px;
	margin-left: 20px;
	margin-bottom: 10px;
}

.text-card2, p{
	font-size: 1.2em;
	font-family: 'Vollkorn', serif;
	text-align: center;
	margin-top: 30px;
	flex: 1 1 auto;
}

.text-entre{
	text-align: center;
	font-size: 1.5em;
	margin-top: -110px;
	margin-bottom: 40px;
}

.text-link{
	text-align: center;
}

.text-card{
	text-align: center;
}

.but-com{
	background-color: green;
	width: 100px;
	border-radius: 30px;
}

.but-can{
	background-color: red;
	width: 100px;
	border-radius: 30px;
}

.button{
	display: flex;
	justify-content: center;
}

footer{
	background-color: black;
}

.topo{
	background-color: #FFF;
	position: fixed;
	bottom: 20px;
	right: 20px;
	height: 50px;
	width: 50px;
	border-radius: 50%;
	display: flex;
	align-items: center;
	justify-content: center;
	cursor: pointer;
}

#pag-bijuterias{

}

#pag-redesocial{
	width: 40px;
	height: 40px;
	position: fixed;
	bottom: 300px;
	left: 10px;
	border-radius: 35px;
}

image{
	width: 100%;
	height: 100vh;
	display: flex;
	bottom: 50px;
	left: 50px;
	background-color: purple;
}


.image img{
	height: 50px;
	width: 50px;
	bottom: 20px;
	left: 20px;
	border-radius: 50%;
	position: fixed;
}